/* Universal CSS */
*{
    font-family: 'Poppins', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.primary-btn{
    background: #E76F51;
    border-radius: 5px;
    padding: 10px 30px !important;
}

/* Header Area & Navigation Menu Styles */
 header{
    background-image: linear-gradient(90deg, #181818 0%, rgba(24, 24, 24, 0.822917) 24.48%, rgba(24, 24, 24, 0) 100%), url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 header a , .site-content{
    color: #FFFFFF !important;
 }

 /* Featured Bike section Styles */
 .featured h6{
    color: #E76F51;
 }

 /* latest News Section Styles */
 .latest-news .btn{
    border: 1px solid #E76F51;
    border-radius: 5px;
    color: #E76F51;
    padding: 10px 20px;
 }
 .latest-news .btn:hover{
    background: #E76F51;
    border-radius: 5px;
    color: #FFFFFF !important;
    border: none;
 }
 

/* Responsive Styles */
 @media screen and (max-width: 576px) {
    /* Header Area Responsive styles */
    header .site-content{
        width: 100% !important;
        text-align: center;
    }
 }